@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Varela+Round');

body{
    background-image: url(../image/tocumwal-trove-4-50.jpg);
    background-color: #fff;
    background-repeat: no-repeat; 
    background-position: center top;
    background-size: contain;
}

#pg1body{
    background-repeat: repeat-y;
}

#pg2body{
    background-repeat: repeat-y;
}

header{
    margin-top: 2%;
    position: fixed;
    width: 100%;
}

main{
    width: 78%;
    margin-left: 16%;
    padding-top: 10%;
    padding-bottom: 5%;
}

a{
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    border-radius: 30px;
    padding: 8%;
    border: #30384C;
}

a:hover{
    color:#30384C;
    background-color: #fff;
}

a:active{
    color: #fff;
    border: #fff solid 1px;
    background-color: #30384C;
}

nav{
    background-color: #30384C;
    position: fixed;
    display: block;
    width: 12%;
    margin-left:2%;
    height: 10000px;
    padding-top:2.5%;
}

nav ul li{
    padding: 10% 0 10% 10%;
}

footer{
    background-color: #bc5a45;
    padding: 2%;
    padding-bottom: 15%;
    margin-bottom: 2%;
}

img{
    width: 45%;
    display: inline-block;
    margin: 2%;
}

p{
    line-height: 1.5em;
    font-size: 18px;
    text-indent: 1em;
    font-family: sans-serif;
    color: #000;
}

h1{
    background-color: #f4e1d2;
    font-weight: bold;
    font-size: 350%;
    font-family: 'Architects Daughter', cursive;
    color: #bc5a45;
    padding: 2%;
    padding-left: 5%;
    width: 100%;
}

h2{
    font-weight: bold;
    font-size: 350%;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    text-decoration: underline;
    color: #30384C;
    margin: 5%;
}

h3{
    font-size: 150%;
    font-family: sans-serif;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #bc5a45;
    font-weight: bold;
}

blockquote{
    line-height: 1.5em;
    font-size: 1.5em;
    text-indent: 1em;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    color: #f18973;
    font-weight: bold;
    float: right;
    width: 30%;
    padding: 3%;
    letter-spacing: .1em;
    margin-top: 5%;
    margin-right: 7%;
}

footer a{
    float: left;
    margin-left: 16%;
    padding: 1%;
    
}

footer a:hover{
    color: #BC5A45;
    background-color: #fff;
}

footer a:active{
    color: #fff;
    border: #fff solid 1px;
    background-color: #BC5A45;
    
}

.quote{    
    padding-bottom: 5%;  
    margin: 0 auto;
}

.quote p{
    text-align: center;
    font-size: 200%;
    font-family: 'Varela Round', sans-serif;
    color: #555;
    width: 75%;
    margin: 12% auto ;
    padding: 1%; 
}

.quote a{
    text-align: center;
    font-size: 200%;
    font-family: 'Varela Round', sans-serif;
    color: #555;
    padding: 1%;
    margin: 5% auto;
    width: 100%;
}

.quote a:hover{
    background-color: #30384C;
    color: #fff;
}

.learnmore{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.intro{
    padding-top: 10%;
    padding-bottom: 10%;
}

.intro p{
    column-count: 2;
    column-width: 40%;
}

.intro img{
    float: right;
    padding-left: 2%;
    padding-bottom: 2%;
}

.jumptopages{
    background-color: #bc5a45;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.jumptopages a{
    padding: 0%;    
    font-size: 300%;
    font-family: sans-serif;
    color: #fff;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 1%;
}

.jumptopages a:hover {
    padding: 0%;
    background-color:#BC5A45;
    color: #30384C;
}

.jumptopages a:active {
    padding: 0%;
    background-color: #BC5A45;
    border: none;
}

.archivejump{
    display: inline-block;
    width: 49.5%;
}

.galleryjump{
    display: inline-block;
    width: 49.5%;
}

.news{
    margin: 0 auto;
}

.news a{    
    font-size: 300%;
    font-family: sans-serif;
    color: #fff;
    font-weight: bold;
    text-align: center;
    display: block;
    background-color: #3D90D1;
    padding: 2%;
    width: 50%;
    margin: 5% auto 0 auto;
}

.news a:hover{
    color: #30384C;
}

form{
    float:right;
    color: #fff;
    font-family: sans-serif;
    padding: 0%;
    line-height: 2em;
    margin: auto;
}

input[type=email]{
    padding: 2%;
    padding-right: 5%;
    border-radius: 5px;
}

input[type=submit]{
    border: #000;
    border-radius: 5px;
}

input[type=submit]:hover{
    color:#bc5a45;
    background-color: #f4e1d2;
} 

.pg1{
    background-color: rgba(255, 255, 255, .8);
    margin-top: 5%;
    padding: 1% 2% 1% 2%;    
}

.pg1origin{
    column-count: 2;
    column-width: 40%;
}

.pg1moreinfo{
    line-height: 1.5em;
    font-size: .8em;
    font-family: sans-serif;
    font-style: italic;
    color: #777;
    text-align: right;
    margin-top: 10px;
    margin-left: 55%;
    width: 40%;
}

.pg1airforce p{
    width: 50%;
}

.pg1construct p{
    width: 45%;
    margin-left: 55%
}

.pg1construct img{
    float: left;
    padding-right: 5%;
    padding-top:10%;
}

.pg2{
    background-color: rgba(255, 255, 255, .8);
    margin-top: 5%;
    padding: 1% 2% 1% 2%;
}

.pg2 a{
    color: #000;
    text-decoration: underline;
    font-family: sans-serif;
    border-radius: 0;
    padding: 0; 
}

.pg2 a:hover{
    color: #3D90D1;
}

.pg2 p{
    text-align: center;
}

/*      all screen sizes above 1700px get fixed layout centered     */
@media screen and (min-device-width:1700px){
    
    main{
        width:1500px;
        margin: 0 auto;
        padding-left: 250px;
    }
    
    header{
        width: 100%;
        position: fixed;      
        margin: 0 auto;
    }
    
    nav{
        width: 200px;
    }
    
    footer{
        width: 100%;
        margin: 0 auto;
    }
    
    .outer {
        width: 100%;
        
    }
    
    form{
        float: none;
        margin: 0 0 0 60%;
    }
    
    footer a{
        margin: 0 0 0 40%;
    }
    
    .intro {
        background-color: rgba(255, 255, 255, .8);
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 1% 2% 1% 2%;
    }
    
}    

/*      changes h1 size and quote spacing       */
@media screen and (max-device-width:1318px){
    h1{
        font-size: 300%;
    }
    
    .quote p{
        margin: 12% auto 5% auto;
    }
}

/*      changes quote section sizing        */
@media screen and (max-device-width:1139px){    
    .quote p{
        width: 90%;
        margin: 10% auto 5% auto ;
        padding: 1%;    
    }

    .quote a{
        font-size: 200%;
        padding: 1%;
    }
}

/*      changes background images size and heading size     */
@media screen and (max-device-width:956px){
    body{
        background-image: url(../image/tocumwal-trove-4-50small.jpg);
    }
    
    h1{
        font-size: 250%;
    }
    
}

/*      changes navigation to top       */
@media screen and (max-device-width:900px){
    nav{
        width: 100%;
        height: auto;
        padding: 1% 0;
        margin: 0% 0% 0% 2.5%;
    }
    
    nav ul li{
        padding: 1%;
        display: inline-block;
        font-size: 150%;
        width: 30%;
    }
    
    nav a{
        border-radius: 30px;
        padding: 0%;
        border: #30384C;
    }
    
    main{
        width: 95%;
        margin: 0 auto;
        padding-top: 15%;
        padding-bottom: 5%;
    }
    
    footer a{
        margin-left: 5%;    
    }
    
    h1{
        width:90%;
        padding-right: 10%;
    }
    
    main{
        padding-top: 15%;
    }
    
    .quote{
        width: 100%;
                border: black solid 1px;

    }
    
    body{
        background-image: url(../image/tocumwal-trove-4-50small2.jpg);

    }
}

/*      text reduced to 1 column, changes quote size, background image size       */
@media screen and (max-device-width:760px){
    body{
        background-image: url(../image/tocumwal-trove-4-50small3.jpg);
    }
    
    .quote p {
        font-size: 175%;
        margin-top: 12%;
    }
    
    .quote a{
        font-size: 175%;
    }
    
    p{
        line-height: 1.75em;
    }
    
    .intro p{
        column-count: 1;
        column-width: 100%;
        font-size: 150%;
    }
    
    #origin p{
        column-count: 1;
        column-width: 100%;
        font-size: 150%;
    }
    
    .pg1moreinfo{        
        text-align: center;
        margin-left: 0%;
        width: 90%;
        margin-bottom: 20%;
}
    
    .pg1airforce p{
        width: 100%;
        font-size: 150%;

    }
    
    blockquote{
    line-height: 1.5em;
    font-size: 1.5em;
    text-indent: 1em;
    text-align: center;
    float: none;
    width: 90%;
    padding: 3%;
    letter-spacing: .1em;
    margin-top: 5%;
    margin-right: 7%;
}

    .pg1construct p{
        width: 90%;
        margin-left: 0%;
        font-size: 150%;
    }
    
    .pg1construct img{
    float: none;
    padding-right: 5%;
    padding-top:10%;
    width:90%;
}
    
    img{
        display: block;
        margin: 5% auto;
        width: 75%;
    }
    
    .pg2{
        margin-top: 15%;
    }
    
    .pg1{
        margin-top: 15%;
    } 

}

/*      changes background size, makes jump imgs stack on top       */
@media screen and (max-device-width:629px){
    body{
        background-image: url(../image/tocumwal-trove-4-50small2.jpg);
    }
    
    .archivejump{
        display: block;
        width: 70%;
        margin: 0% auto;
    }

    .galleryjump{
        display: block;
        width: 70%;
        margin: 5% auto 0% auto;
    }
    
    .quote p {
        font-size: 125%;
        margin-top: 15%;
    }
    
    .quote a{
        font-size: 125%;
    }
    
    

}

/*      changes jump image sizes, hides newsletter form, centers "back to top" button, and changes quote formating      */
@media screen and (max-device-width:516px){    
    .archivejump{
        display: block;
        width: 100%;
        margin: 0% auto;
    }

    .galleryjump{
        display: block;
        width: 100%;
        margin: 5% auto 0% auto;
    }
    
    p{
        font-size: 90%;
    }
    
    .intro p{
        font-size: 90%;
    }
    
    #origin p{
        font-size: 90%;
    }
    
    .pg1airforce p{
        font-size: 90%;
    }
    
    blockquote{
        font-size: 100%;
    }
    
    .pg1construct p{
        font-size: 90%;
    }
    
    form{
        display: none;
    }
    
    footer a{
        float: none;
        padding: 2%;
        text-align: center;
        font-size: 150%;
        display: block;
        justify-content: center; 
    }
    
    nav{
        width: 85%;
        margin: 0 0 0 15%;
        background-color: rgba(48, 56, 76, .5)
    }
    
    nav ul li{
        display: block;
        text-align: right;
        width: 95%;
        margin-right: 1%;
        padding: 3%;
    }

    .quote a{
        display: none;
    }
    
    .quote p{
        margin-top: 9%;
    }
    
    .news a{
        width: 90%;
    }
    
/*      if i could figure out how to do it i would add the hamburger menu here        */
    
}

/*      changes h1 size       */
@media screen and (max-device-width:459px){
    h1{
        font-size: 175%;
    }
}

/*      changes background size       */
@media screen and (max-device-width:421px){
    body{
        background-image: url(../image/tocumwal-trove-4-50small4.jpg);
    }
}
 
/*      changes backgound to repeat and fixes margins     */
@media screen and (max-device-width:359px){
    body{
        background-repeat: repeat-y;
    }
    
    .intro {
        background-color: rgba(255, 255, 255, .8);
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 1% 2% 1% 2%;
    }
    
    .quote p{
        margin-top: 30%;
    }
    
    .pg1{
        margin-top: 30%;
    }
    
    .pg2{
        margin-top: 30%;
    }
}

/*      changes font sizes for all headings and changes size of images        */
@media screen and (max-device-width:309px){
    h2{
        font-size: 250%;
    }
    
    h3{
        font-size: 100%;
    }
    
    img{
        width: 95%;
    }
    
    .news a{
        font-size: 200%;
    }
    
    .jumptopages a{
        font-size: 200%;
    } 
}
